@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background-image: url('~assets/img/bg2.jpg');
}
a {
    color: #7CB6AA;
    text-decoration: none;
}

a:hover {
    color: #7CB6AA;
    text-decoration: none;
}

@media (min-width: 1500px) {
    .container {
        max-width: 1460px;
    }
}

header {
    display: block;
    border-bottom-style: solid;
    border-bottom-color: #1A475A;
    border-bottom-width: 3px;
}

.header-topbar {
    background-color: #1a475a;
    height: 62px;
    width: 100%;
    position: relative;
    display: flex;
}
.search-form {
    margin-top: 12px;
    width: 392px;
    height: 38px;
    border-radius: 19px;
}
#search-input {
    width: 392px;
    height: 38px;
    border-radius: 19px;
    border: none;
    padding-left: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
}
.lang-switcher {
    display: flex;
    margin-top: 12px;
    height: 38px;
    align-items: center;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #7CB6AA;
}

.header-logobar {
    position: relative;
    background-image: url('~assets/img/bg1.jpg');
    background-repeat: repeat-x;
    background-size: auto;
    display: flex;
    padding-top: 60px;
}
.logo-arch {
    display: flex;
    align-items: center;
    margin: auto;

}
.img-logo{
    height: 215px;
    width: 215px;
    margin-right: 120px;
}
.img-book {
    height: 153px;
    width: 214px;
    margin-left: 100px;
}
.title-text {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #1A475A;

}
.title-aran {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #1A475A;
}
.top-menu {
    margin: auto;
    padding-top: 50px;
}
.main-menu-bar {
    position: relative;
    height: 100px;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
}

.home-logo {
    height: 15px;
    width: 15px;
}
.nav-item {
    color: #1a475a;
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 0px;
    height: 50px;
}
.nav-link {
    padding-right: 42px;
    padding-left: 42px;
    padding-top: 15px;
    color: #1A475A;
    vertical-align: center;
    height: 100%;
}

.nav-item:hover {
    color: white;
    background-color: #7CB6AA;
    border: none;
    border-radius: 0px;
}
.nav-link:hover {
    color: white;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #7CB6AA;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}


.dropdown-item {
    background-color: #7CB6AA;
    color: white;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    text-align: left;
}
.dropdown-item:hover {
    background-color: #1A475A;
    color: white;
}

.dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    margin: auto;
}

.content-wrap {
    display: flex;


}
.content-main {
    display: block;

}

.content-row {
    background-color: #f1f0dd;
    margin: auto;
    min-height: 900px;
}

.main-content-block {
    margin: auto;
    display: block;
    padding: 30px;
    padding-right: 10px;
}
.page-title, .actual-title-home-page {
    font-size: 24px;
    font-weight: bold;
    width: auto;
    color: #1A475A;
    margin-bottom: 20px;
    padding-left: 25px;

}
.actual-title-home-page {
    margin-top: 38px;

}



.news-rows, .exb-rows {
    display: block;
    margin-left: 10px;
    margin-top: 40px;
}
.news-row, .exb-row {
    display: flex;
    margin-top: 20px;
}


.news-block, .exb-block {
    height: 325px;
    width: 685px;
    display: flex;
    background-color: white;
    margin-right: 25px;
}

.img-news, .img-exb {
    height: 325px;
    width: 325px;
}
.news-body, .exb-body {
    padding: 25px;

}
.news-title, .exb-title {
    font-size: 14px;
    color: #1A475A;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.714;
    text-align: left;
    margin-bottom: 20px;
    height: 70px;
}
.news-text, .exb-text {
    font-size: 16px;
    color: #1A475A;
    line-height: 1.4;
    text-align: left;
    margin-bottom: 20px;
    height: 150px;
}
.exhibition-text {
    font-size: 16px;
    color: #1A475A;
    text-align: justify;
    line-height: 1.625;
    height: auto;
}
.exhibition-picture {
    display: block;
}
.exhibition-picture-image-block {
    background-color: #f9f9ed;
    text-align: center;

    width: 100%;
}
.exhibition-picture-text-block {
    font-size: 14px;
    line-height: 1.714;
    text-align: left;
    color: white;
    background-color: #7CB6AA;
    padding: 15px;
    padding-bottom: 5px;
}
.exhibition-picture-text-block-counter{
    font-style: italic;
    margin-bottom: 10px;
}




.padding-ab {
    padding-bottom: 30px;
}


.news-footer, .exb-footer {
    display: flex;

}
.news-date, .exb-date {
    width: 50%;
    font-size: 14px;
    color: #aad1c9;
    font-style: italic;
}



.contact-row {
    display: flex;
    height: 220px;
    margin: auto;

}
.contact-row-inner {
    margin: auto;
}
.info-row {
    display: flex;
}
.address-block {
    display: flex;
}
.transport-block {
    display: flex;
}
.phone-block {
    display: flex;
}
.address-title {
    font-size: 24px;
    font-weight: bold;
    width: auto;
    padding-bottom: 40px;
    padding-left: 30px;
}
.contact-logo {
    height: 60px;
    width: 60px;

}
.contact-block-logo {
    padding-right: 20px;
    padding-left: 20px;
}
.contact-block-title {
    color: #7CB6AA;
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 10px;
}
.contact-block-text {
    font-size: 16px;
    line-height: 1.375;
    margin-right: 20px;
}
.contact-block-email {
    font-size: 16px;
    line-height: 1.375;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.read-more-link a {
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
    color: #aad1c9;
}
.read-more-link a:hover {
    color: #7CB6AA;
}

.read-more-link {
    text-align: right;
    width: 100%;
}
.phone-block .read-more-link {
    text-align: left;
}
.img-arrow {
    height: 10px;
    width: 10px;
}

footer {
    height: 100px;
    background-color: #1a475a;
    vertical-align: center;
    display: flex;
}

.footer-text {
    margin: auto;
    text-align: center;
    vertical-align: center;
    color: white;
    font-size: 14px;
    line-height: 1.2;
}
.breadcrumbs {
    width: 100%;
    background-color: transparent;
    color: #1A475A;
    font-size: 12px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 30px;
}
.breadcrumbs a {
    color: #1A475A;
    text-decoration: underline;
}
.breadcrumb {
    background-color: transparent;
    margin-bottom: 0px;
    margin-left: 10px;
}
.news-bottom {
    margin-top: 40px;

}
.news-archive-link, .news-archive-link:hover {
    color: #1A475A;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}



.page-item.disabled .page-link, .page-link, .page-item:hover .page-link {
    color: black;
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
    font-family: Roboto;
}
.page-item.active .page-link {
    color: white;
    background-color: #aad1c9;
    border: none;
    font-size: 16px;
    font-family: Roboto;
}
.about-attention {
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    text-align: left;
    color: #1a475a;
    padding-left: 25px;
    padding-right: 15px;
    flex-direction: column;
}
.about-text, .activities-text {
    font-size: 16px;
    line-height: 2;
    text-align: left;
    color: #1a475a;
    padding-left: 25px;
    padding-right: 15px;
}
.publ-group-row {
    min-width: 500px;
    margin-left: 0px;
    margin-right: 30px;
    display: block;
    border-bottom: #7CB6AA 3px solid !important;
    margin-bottom: 30px;
}
.publ-group-col{

    width: 100%;
    height: 100px;
    background-color: #ffffff;
    color: #1a475a;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    border: none;
    padding-left: 30px;


}

.publ-group-row .btn-secondary.not-collapsed:hover, .publ-group-row .btn-secondary.not-collapsed:focus, .publ-group-row .btn-secondary.not-collapsed:active {
    background-color: #f9f9ed !important;
    color: #1a475a;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    padding-left: 30px;
    border: none;
    box-shadow: none !important;
}
.publ-group-row .btn-secondary.collapsed:hover, .publ-group-row .btn-secondary.collapsed:focus, .publ-group-row .btn-secondary.collapsed:active {
    background-color: white !important;
    color: #1a475a;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    padding-left: 30px;
    border: none;
    box-shadow: none !important;
}
.collapse-button{
    display: flex;
}
.collapse-img-arrow {
    background-image: url('~assets/img/arrow down d.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.publ-group-row .btn-secondary.not-collapsed:hover .collapse-img-arrow, .publ-group-row .btn-secondary.not-collapsed:focus .collapse-img-arrow, .publ-group-row .btn-secondary.not-collapsed:active .collapse-img-arrow {
    background-image: url('~assets/img/arrow up d.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.publ-col {
    width: 100%;
}
.publ-card {
    border: none;
}
.publ-card .card-body {
    padding-top: 30px;
}
.publ-link {
    font-size: 14px;
    color: #1a475a;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.445;
    text-align: left;
    margin-left: 15px;
}
.publ-link:hover {
    color: #7CB6AA;
    text-decoration: underline;

}
.years-col {
    margin: auto;
}
.year-link {
    font-size: 14px;
    margin: 0px 15px;
    padding: 10px;
    color: black;
    line-height: 1.2;
}
.year-link:hover, .year-link:active {
    color: white;
    border-radius: 25px;
    background-color: #aad1c9;
}
.exb-pages {
    margin: auto;
    padding-top: 30px;
}
.contact-image {
    margin-left: 110px;
    width: 470px;
    height: 320px;
}
.contacts-ab {
    color: #1a475a;
    margin-bottom: 30px;
}
.address-text {
    color: #1a475a;
    font-size: 16px;
    line-height: 1.375;
    text-align: left;
    margin-left: 110px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.contact-page-phone-block {
    color: #1a475a;
}
.phone-title {
    font-size: 18px;
    line-height: 2.111;
    margin-bottom: 20px;
    margin-top: 20px;
}
.phone-text {
    font-size: 16px;
    line-height: 1.25;
}
.phone-fio {
    margin-bottom: 20px;
    margin-left: 15px;
}
.second-line-row {
    margin-top: -15px;
    margin-left: -30px;
}
.requisites-block {
    margin-top: 40px;
    padding-top: 40px;
    color: white;
    background-color: #7CB6AA;
}
.req-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.167;
    padding-left: 30px;
    margin-bottom: 40px;
}
.req-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    padding-left: 30px;
    margin-bottom: 10px;
}
.req-text {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 10px;
}
.exhibition-slider {
    display: block;
}
.slider-arrow-button, .slider-arrow-button:hover, .slider-arrow-button:active, .slider-arrow-button:focus {
    background-color: white !important;
    width: 100px;
    height: 27px;
    border-radius: 0px;
    border: none;
    align-items: center;
    box-shadow: none !important;
}

.slider-button, .slider-button:hover, .slider-button:active, .slider-button:focus {
    width: 100px;
    border-radius: 0px;
    border: none;
    align-items: center;
    padding: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: transparent;
    box-shadow: none !important;
}
.btn-bgr-img {
    width: 100px;
}

.price-link {
    font-size: 16px;
    color: #1a475a;
    font-weight: bold;
    text-decoration: underline;
    line-height: 2.222;
    text-align: left;
    margin-top: 35px;
    margin-left: 10px;

}
 .price-link a {
     color: #1a475a;
     font-weight: bold;
     text-decoration: none;

 }
.price-text {
    font-size: 18px;
    color: #1a475a;
    margin-left: 10px;
    margin-top: 50px;
}
.price-table {
    color: #1A475A;
    margin-left: 20px;
    margin-top: 40px;
    max-width: 1200px;
    margin-bottom: 50px;
}


.price-table tbody tr {
    border-top: solid #aad1c9 1px;

}
.price-table thead tr {
    border-bottom: solid #1A475A 1px !important;
}

.table-boldcol {
    font-weight: bold;
    padding-left: 25px !important;

}
.table-firstcol {
    border-right: solid #1A475A 1px !important;
}
.table-secondcol {
    max-width: 250px;
    text-align: left;
    padding-left: 25px !important;
}
.table-infocol {
    max-width: 200px;
    text-align: center;
}
.price-text-margin-bottom {
    margin-bottom: 50px;
}
.funds-search-row {
    display: flex;
}
.funds-search-block {
    margin: auto;
    background-color: #f9f9ed;
    border-bottom: solid #7CB6AA 3px;
    width: 50%;
}
.funds-search-title {
    color: #7CB6AA;
    font-size: 24px;
    font-weight: bold;
    padding-left: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.funds-search-block .search-form {
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 30px;
    width: auto;

}
.funds-search-block .search-form #search-input {
    border: solid #dcdbc7 2px;
    margin-bottom: 30px;
    width: 100%;
}
.funds-filter-row {
    margin-top: 30px;
}
.funds-filter-title {
    color: black;
    font-size: 14px;
    font-style: italic;
    padding-left: 10px;
    margin-bottom: 10px;
}


.vue-treeselect__control, .vue-treeselect__menu {
    background-color: #f9f9ed !important;
}
.vue-treeselect__control {
    border-color: #dcdbc7 !important;
}

.vue-treeselect__multi-value-item {
    color: black !important;
    font-weight: bold;
    background: none !important;
    font-size: 14px !important;
}
.vue-treeselect__value-remove {
   display: none !important;
}

.vue-treeselect__label {
    white-space: normal !important;
    font-size: 14px !important;
}

.vue-treeselect__option:hover, .vue-treeselect__option:focus, .vue-treeselect__option:active, .vue-treeselect__option--highlight {
    background-color: #f9f9ed !important;
}
.vue-treeselect__label:hover {
    color: #7CB6AA !important;
}
.vue-treeselect__indent-level-1, .vue-treeselect__indent-level-0 {
    font-weight: bold;
}
.vue-treeselect__indent-level-2 {
    font-weight: normal;
}

.vue-treeselect__checkbox {
   border-color: #dcdbc7 !important;
   height: 19px !important;
    width: 19px !important;
    background-color: white !important;
}

.vue-treeselect__checkbox--checked {
    border-color: #dcdbc7 !important;
    background-color: white !important;

}
.vue-treeselect__check-mark {
    background-image: url('~assets/img/checkmark.png') !important;
    height: 16px !important;
    width: 16px !important;
    background-size: auto !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: relative !important;
}
.vue-treeselect__minus-mark {
    display: none !important;
}
.vue-treeselect__sizer {
    visibility: visible !important;
}

.form-control, .form-control:active, form-control:focus {
    font-weight: bold;
    color: black;
    height: 40px;
    border: none;
    padding-left: 5px;
    padding-top: 10px;
}
.filter-col {
    border-left: solid #dcdbc5 1px;
}
.funds-pagin-row {
    margin-top: 30px;
}
.funds-num-col, .funds-pag-col {
    display: flex;
    align-items: center;
}
.funds-list, .fund-item {
    background-color: #f1f0dd;
    font-weight: bold;
    border: none;
}
.fund-item:hover {
    color: #7CB6AA;
    background-color: #f9f9ed;
    cursor: pointer;
}
.funds-bottom {
    margin-top: 30px;
    display: flex;

}
.funds-pagin-bottom {
    margin: auto;
}
.fund-item-archive {
    background-image: url('~assets/img/Ellipse_1.png');
    background-repeat: no-repeat;
    background-position-y: center ;
    display: flex;
    align-items: center;

}
.fund-item-num {
    display: flex;
    align-items: center;
}
.fund-info-cont {
    background-color: #ffffff;
    color: #1A475A;
    border-bottom: solid #7CB6AA 5px;
}
.fund-info-title {
    background-color: #f9f9ed;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.773;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.fund-info-text {
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 25px;
}
.fund-info-text-right {
    border-left: solid #7CB6AA 1px;

}
.fund-review-row {
    margin-top: 30px;
}
.fund-review-row a{
    color: #1A475A;
    font-size: 16px;
}
.img-arrow-down {
    margin-left: 3px;
}
.fund-review-title {
    font-size: 15px;
    font-weight: bold;
    color: #1A475A;
    margin-bottom: 20px;
    margin-top: 20px;
}
.fund-review-text {
    color: #1A475A;
    font-size: 18px;
    line-height: 1.667;
    margin-bottom: 20px;
}
.tree-mode-button {
    background-color: transparent !important;
    width: 25px;
    height: 23px;
    border: none;
    box-shadow: none;
    background-repeat: no-repeat;
    border-radius: 0px;
    background-position: center;

}
.tree-mode-button.table-mode-button {
    background-image: url("~assets/img/tile_b.png");
    margin-right: 10px;


}
.tree-mode-button.table-mode-button.active {
    background-image: url("~assets/img/tile_g.png");
    box-shadow: none;
}
.tree-mode-button.list-mode-button {
    background-image: url("~assets/img/line_b.png");
}
.tree-mode-button.list-mode-button.active {
    background-image: url("~assets/img/line_g.png");
    box-shadow: none;
}